In [72]:
import random
import math
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [198]:
tlb = pd.read_csv('tlb.csv')
memory = pd.read_csv('Memory_Sections.csv')

In [199]:
tlb.columns

Index(['Name', 'Memory Type', 'Min Size', 'Size in KB', 'Start Address'], dtype='object')

In [200]:
memory

   Name   TLB  Size  Alignment  Start Address
0  Mem1  DDR1     3          0            NaN
1  Mem1  DDR1     4          0            NaN
2  Mem1  DDR1     5          0            NaN
3  Mem1  DDR1     1          0            NaN
4  Mem1  DDR1     2          0            NaN
5  Mem1  DDR1     2          0            NaN

In [208]:
# merge function
def Merge(a, b):
    c = pd.DataFrame(columns = memory.columns)
    while((len(a)!= 0) and (len(b) != 0)):
        print("B Size: ", b.loc[b.first_valid_index()]['Size'])
        print("A Size: ", a.loc[a.first_valid_index()]['Size'])
        if (b.loc[b.first_valid_index()]['Size'] > a.loc[a.first_valid_index()]['Size']):
            #add b[0] to the end of c
            c = c.append(b.loc[b.first_valid_index()])
            print("Added: ", c.loc[c.last_valid_index()]['Size'])
            #remove b[0] from b
            b = b.drop(b.first_valid_index())   
        else:
            # add a[0] to the end of c
            c = c.append(a.loc[a.first_valid_index()])
            print("Added: ", c.loc[c.last_valid_index()]['Size'])
            #rmeove a[0] from a
            a = a.drop(a.first_valid_index())
 
    while (len(a) != 0):     
        # add a[0] to the end of c
            c = c.append(a.loc[a.first_valid_index()])
            print("Added: ", c.loc[c.last_valid_index()]['Size'])
            #rmeove a[0] from a
            a = a.drop(a.first_valid_index()) 
    while (len(b) != 0):     
        # add b[0] to the end of c
            c = c.append(b.loc[b.first_valid_index()])
            print("Added: ", c.loc[c.last_valid_index()]['Size'])
            #rmeove a[0] from a
            b = b.drop(b.first_valid_index())  
    return c

In [133]:
def MergeSort(mem):
    n = len(mem)
    if ( n == 1 ): return mem
    
    l1 = mem[0:math.floor(n/2)]
    l2 = mem[math.floor(n/2)+1 : n]

    l1 = MergeSort( l1 )
    l2 = MergeSort( l2 )

    return merge( l1, l2 )

In [201]:
mem = memory
print(memory)
n = len(mem)
print(n)
l1 = mem[0:math.floor(n/2)]
print(l1)

l2 = mem[math.floor(n/2) : n]
print(l2)
#print(l2)

   Name   TLB  Size  Alignment  Start Address
0  Mem1  DDR1     3          0            NaN
1  Mem1  DDR1     4          0            NaN
2  Mem1  DDR1     5          0            NaN
3  Mem1  DDR1     1          0            NaN
4  Mem1  DDR1     2          0            NaN
5  Mem1  DDR1     2          0            NaN
6
   Name   TLB  Size  Alignment  Start Address
0  Mem1  DDR1     3          0            NaN
1  Mem1  DDR1     4          0            NaN
2  Mem1  DDR1     5          0            NaN
   Name   TLB  Size  Alignment  Start Address
3  Mem1  DDR1     1          0            NaN
4  Mem1  DDR1     2          0            NaN
5  Mem1  DDR1     2          0            NaN

In [165]:
test = mem
print(test.loc[test.first_valid_index()])
isinstance(pd.DataFrame(test.loc[test.first_valid_index()]), pd.DataFrame)

Name             Mem1
TLB              DDR1
Size                3
Alignment           0
Start Address     NaN
Name: 0, dtype: object

True

In [209]:
print(l1)
print(l2)
print("*******************************")
C = Merge(l1,l2)
display(C)

   Name   TLB  Size  Alignment  Start Address
0  Mem1  DDR1     3          0            NaN
1  Mem1  DDR1     4          0            NaN
2  Mem1  DDR1     5          0            NaN
   Name   TLB  Size  Alignment  Start Address
3  Mem1  DDR1     1          0            NaN
4  Mem1  DDR1     2          0            NaN
5  Mem1  DDR1     2          0            NaN
*******************************
B Size:  1
A Size:  3
Added:  3
B Size:  1
A Size:  4
Added:  4
B Size:  1
A Size:  5
Added:  5
Added:  1
Added:  2
Added:  2

   Name   TLB Size Alignment Start Address
0  Mem1  DDR1    3         0           NaN
1  Mem1  DDR1    4         0           NaN
2  Mem1  DDR1    5         0           NaN
3  Mem1  DDR1    1         0           NaN
4  Mem1  DDR1    2         0           NaN
5  Mem1  DDR1    2         0           NaN